<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <title>テキストの練習</title>
</head>

<body>
    <div id="app">
        <!-- 基本のバインド -->
        <p>{{ abc1 }}</p>

        <!-- URLをバインド -->
        <a :href="url2">検索</a>

        <!-- ボタンをバインド -->
        <input type="button" value="CLICK" v-bind:disabled="flag3" />

        <!-- 日付を表示 -->
        <button v-on:click="onclick4">日付を表示</button>
        <p>{{ time5 }}</p>

        <!-- 双方向データバインディング -->
        <form>
            <label for="name">氏名：</label>
            <input type="text" id="name" v-model="myName6" />
        </form>
        <p>こんにちは、{{ myName6 }}さん！！</p>

        <!-- チェックボックスに応じて回答を変化させる -->
        <form>
            <label for="agree">同意する：</label>
            <input type="checkbox" id="agree" v-model="agree"/>
        </form>
        <p>回答：{{ agree }}</p>

        <!-- 数値のバインドを行う -->
        <form>
            <label for="temp">サウナの温度：</label>
            <input type="text" id="temper" v-model.number="temp" v-on:change="onchange"/>
        </form>

        <!-- バインドのタイミングをずらす -->
        <form>
            <label for="name">氏名：</label>
            <input type="text" id="name" v-model.lazy="MYNAME" />
        </form>
        <p>こんにちは、{{ MYNAME }}さん！！</p>

        <!-- 式の真偽に応じて表示と非表示を切り替える -->
        <form>
            <label for="show">表示/非表示</label>
            <input type="checkbox" id="show" v-model="show"/>
        </form>
        <div id="panel" v-if="show">
            <h3>RSSフォードについて</h3>
            <p>WINGSでは、弊社執筆の書籍／雑誌／Web記事の。。。</p>
        </div>
        <!-- v-ifに対してelseの場合 -->
        <div v-else>現在、非表示中です。</div>

        <form>
            <label for="holiday">祝日：</label><br />
            <select id="holiday" v-model="holiday">
                <option value="">祝日を選択してください。</option>
                <option value="new">元日</option>
                <option value="child">子供の日</option>
                <option value="culture">文化の日</option>
            </select>
        </form>
        <div v-else-if="holiday==='new">１月１日。年の初めを祝う。</div>
        <div v-else-if="holiday==='child">５月５日。子供の成長を祝う。</div>
        <div v-else-if="holiday==='culture">１１月３日。自由と平和と文化を祝う。</div>
        <div v-else>何も選択されていません。</div>
    </div>


<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js">
</script>

<script>
    let app = new Vue({
        el: '#app',
        data: {
            abc1: 'aaaaaaaaa',
            url2: 'https://google.com',
            flag3: false,
            time5: '',
            myName6: '名無し',
            agree: true,
            temper: 0,
            MYNAME: '匿名',
            show: true,
            holiday: ''
        },
        methods: {
            onclick4: function(){
                this.time = new Date().toDateString();
            },
            onchange: function(){
                console.log(this.temper.toFixed(1));
            }
        }
    })
</script>
</body>
</html>
